@import '_resetstyle.scss';

@media (max-width: 885px){
    .wrapper{
        padding: 20px;
        height: auto;
    }
    .article{
        width: 600px;
        flex-direction: column;
    }
    .article-image{
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .share-button{
        z-index: 1999;
    }
    .share-block{
        width: 100%;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        // visibility: visible;
        // opacity: 1;
        transition: all 0.2s linear;
    }
    .share-block::after{
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        left: 0;
        top: 0;
        border-top: 0px solid  hsl(217, 19%, 35%);
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
    }
    .share-active{

    }
    
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    height: 100%;
    position: relative;
}
.article {
    display: flex;
    width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    z-index: 100;
}
.article-image {
    width: 300px;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.text-content {
    padding: 40px;
}
.article-title {
    line-height: 26px;
    margin-bottom: 20px;
    color:  hsl(217, 19%, 35%);
}
.article-text {
    line-height: 20px;
    color: hsl(214, 17%, 51%);
}
.text-content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    position: relative;
    padding-right: 10px;
}
.user {
    display: flex;
    align-items: center;
}
.avatar-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar {
    width: 100%;
    height: auto;
}
.user-data {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
}
.username {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    margin-bottom: 5px;
}
.date {
    color:   hsl(212, 23%, 69%);
    font-size: 12px;
}
.share-button {
    background-image: url(../img/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.share-block{
    display: flex;
    align-items: center;
    position: absolute;
    top: -50px;
    right: -75px;
    padding: 6px 15px;
    background-color: hsl(217, 19%, 35%);
    z-index: 1000;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
}
.share-block::after{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 32px;
    border-top: 14px solid  hsl(217, 19%, 35%);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}
.resourse{
    margin-left: 10px;
}
.share-active{
    opacity: 1;
    visibility: visible;
}
// .path{
//     transition: all 0.2s linear;
// }
// .twitter:hover .path{
//     fill: #1da1f2;
// }
// .pinterest:hover .path{
//     fill: #e60023;
// }